/*----------GENERAL----------*/
@import url("https://fonts.googleapis.com/css?family=Inconsolata|Lato&display=swap");


.top {
    padding-left: 12px;
    margin-top: 12%;
}

h1 {
    padding-top: 5%;
    font-size: 5.5em;
}


body {
    background-color: #fdfdfd;
    font-family: 'Nobile', sans-serif;
}

/*----------NAVBAR---------*/

.navbar {
    background: none;
    border-color: transparent;
    letter-spacing: 7px;
    text-transform: uppercase;
}

.navbar .navbar-collapse {
    text-align: right;
    border-top: 1px solid transparent;
    overflow-x: hidden;
}

.navbar-nav li a {
    padding: 20px 25px 15px 25px;
    color: transparent;
}

.navbar-fixed-top .container {
    text-align: right;
    margin-right: 1%;
    margin-top: 1%;
}

.language {
    display: inline-block;
    padding-right: 20px;
    line-height: 44px;
}

.language:hover {
    color: #564F6F!important;
    text-decoration: none;
}

a {
    background-color: #E4E4E4;
    color: #888888;
    font-size: 1.12em;
    padding-left: 10px;
    padding-right: 10px;
    transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
}

.navbar-default .navbar-nav li a:hover {
    color: #564F6F;
}

.navbar-right {
    float: right!important;
}

@media (max-width: 5000px) {
    .navbar-header {
        float: none;
    }
    .navbar-left,
    .navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
}


/*------------ABOUT----------*/

#about-residence {
    background-attachment: fixed;
    background-image: url('../images/vatican.jpg');
    background-position: bottom;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    margin-bottom: 0px;
    z-index: 1;
}

#about-residence h1 {
    text-align: center;
    color: white;
    font-size: 30px;
    position: absolute;
    top: 30%;
    left: 20%;
    height: 30%;
    width: 60%;
    text-shadow: #000 1px 0 10px;
    -webkit-animation: fadein 3s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 3s; /* Firefox < 16 */
        -ms-animation: fadein 3s; /* Internet Explorer */
         -o-animation: fadein 3s; /* Opera < 12.1 */
            animation: fadein 3s;
}

.about-row {
    padding-bottom: 10%;
    font-size: 1.75em;
    line-height: 2;
    color: #112739;
}

h2 {
    margin-left: 15px;
    margin-top: 15%;
    letter-spacing: 7px;
    text-transform: uppercase;
}

.about-row .about-p {
    font-size: .8em;
    margin: 40px 0px 40px 0px;
    color: #112739;
}

/*------------WHERE----------*/

#where {
    width: 100vw;
    height: 90vh;
    background-color: lightgrey;
}


#where address {
    line-height: 3rem;
}

#where iframe {
    width: 100%;
}

#where h3 {
  font-family: 'Tangerine', serif;
  font-size: 30px;
  text-shadow: 4px 4px 4px #aaa;
}


.card-body .row {
    text-align: center;
    padding-top: 10px;
}


.col-xs-6 {
    align-items: center;
}

.card:hover {
    opacity: 1;
}

.card-title {
    font-size: 1.25em;
    font-weight: bold;
}

.card-subtitle {
    font-size: 1.1em;
    font-weight: bold;
}

.card-body .card-text {
    font-size: 1.07em;
}


/*-------CAROUSEL-----------*/

#carousel {
    min-height: 500px;
    background-color: grey;
}

.carousel-inner img {
        max-height: 500px;
}

.carousel-control-next-icon, .carousel-control-prev-icon {
    display: inline-block;
    background: transparent no-repeat center center;
    background-size: 100% 100%;
    height: 70px !important;
    width: 70px !important;
}

/*carousel indicators */
.carousel-indicators li {
  background: #f00 none repeat scroll 0 0;
  border: 0 none;
  border-radius: 50%;
  height: 30px;
  margin: 3px;
  opacity: 0.5;
  width: 30px;
}
/*active slide indicator */
.carousel-indicators .active {
  background: #fff none repeat scroll 0 0;
  border: 4px solid #f00;
}

#carousel h3 {
  font-family: 'Tangerine', serif;
  font-size: 30px;
  text-shadow: 4px 4px 4px #aaa;
}

#carousel h4 {
  font-family: 'Tangerine', serif;
  text-shadow: 2px 2px 2px #aaa;
}

/*-------CONTACT-----------*/

#contact {
    background-attachment: fixed;
    background-image: url('../images/contact.jpg');
    background-position: left;
    background-size: cover;
    padding-top: 0px;
    padding-bottom: 100px;
    text-align: left;
    margin-bottom: 0px;
}

#contact .col-sm-6 p {
    padding: 0;
    margin: 0;
    background-color: #fafafa;
    font-size: 20px;
    border-radius: 16px;
    text-align: center;
    opacity: 0.8;
}

.contact-form {
    position: relative;
    top: 6%;
}

#contact-head {
    margin: 30px -11px 25px 0px;
    color: white
}

.contact {
    margin: 15px 0px 15px 0px;
}

/*-----------FOOTER----------*/

footer {
    border-color: transparent;
    text-align: center;
}

.foot {
    margin-bottom: 30px;
}

a {
    padding: 5px 15px 5px 10px;
    background-color: transparent;
}

.alignment {
    line-height: 2px;
}

i {
    display: inline-block;
    box-shadow: 0px 0px 2px #888;
    background-color: #C3C3C3;
    color: #8F8F8F;
    width: 41px;
    height: 41px;
    padding: 20px 0;
    border-radius: 50%;
    font-size: 28px;
    text-align: center;
    vertical-align: middle;
    transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    margin-top: 2.5px;
    margin-bottom: 2.5px;

}

i:hover {
    color: #564F6F;

}

/* ----------Contact Form  Modal --------*/

.modal-body {
    font-size: 1.15em;
}

.btn-default {
    background-color: #ccc;
}

.privacy-policy {
    color: #424242;
    font-family: 'Nobile', sans-serif;
    padding: 0;
}

a.privacy-policy {
    font-size: inherit;
}

a.privacy-policy:hover {
    color: #564F6F;
    text-decoration: none;
}

/*-----------MEDIA QUERIES----------*/

@media (max-width: 768px) and (min-width: 375px) {
    .scroll-work {
        width: 80%;
    }
    .fa-chevron-down {
        margin-top: 52vh;
    }
}

@media (max-width: 992px) {
    #contact, #about-residence{
        background-attachment: scroll;
    }
}

@media (min-width: 992px) {
    #about-residence {
        background-position: center;
        background-size: cover;
        width: 100vw;
    }
    #contact {
        background-position: center;
        background-size: cover;
        width: 100vw;
    }
    .fa-chevron-down {
        margin-top: 32vh;
    }
}
